In [62]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy.stats as st

demodata_cases = "resources/texas_demographics_cases.csv"
demodata_deaths = "resources/texas_demographics_deaths.csv"
demodata_vaccines = "resources/texas_demographics_cases_vaccines.csv"

demodata_cases = pd.read_csv(demodata_cases)
demodata_cases.head()

,State,Category,Demo_Group,Demo_Specific,Estimate_type,April_2021,May_2021,June_2021,July_2021,August_2021,September_2021,October_2021
0,TX,Cases,age,0_9,rate_percent,2.042581,2.103747,2.087370,2.109844,2.385216,2.385216,2.385216
1,TX,Cases,age,10_19,rate_percent,4.621450,4.730021,4.795038,4.856197,5.372740,5.372740,5.372740
2,TX,Cases,age,20_29,rate_percent,19.924370,19.850523,19.864617,19.841767,20.400404,20.400404,20.400404
3,TX,Cases,age,30_39,rate_percent,21.965320,21.831431,21.782128,21.770627,21.499965,21.499965,21.499965
4,TX,Cases,age,40_49,rate_percent,19.247464,19.161918,19.126047,19.094784,18.604488,18.604488,18.604488

In [63]:
#demodata_cases_categories = demodata_cases.groupby("Category")
#type(demodata_cases_categories)
demodata_cases_cats = demodata_cases.groupby('Demo_Group')
type(demodata_cases_cats)

pandas.core.groupby.generic.DataFrameGroupBy

In [64]:
#demodata_cases_categories.ngroups
demodata_cases_cats.ngroups

3

In [65]:
demodata_cases_cats.size()

Demo_Group
age               9
gender            3
race_ethnicity    6
dtype: int64

In [66]:
demodata_cases_cats.groups

{'age': [0, 1, 2, 3, 4, 5, 6, 7, 8], 'gender': [9, 10, 11], 'race_ethnicity': [12, 13, 14, 15, 16, 17]}

In [67]:
demodata_cases_cats.first()

,State,Category,Demo_Specific,Estimate_type,April_2021,May_2021,June_2021,July_2021,August_2021,September_2021,October_2021
Demo_Group,,,,,,,,,,,
age,TX,Cases,0_9,rate_percent,2.042581,2.103747,2.08737,2.109844,2.385216,2.385216,2.385216
gender,TX,Cases,female,rate_percent,33.600000,33.950000,34.10000,34.200000,37.500000,37.500000,37.500000
race_ethnicity,TX,Cases,all_races-hispanic_latino,rate_percent,36.200000,35.850000,35.89000,35.800000,37.000000,37.000000,37.000000

In [68]:
df_age = demodata_cases_cats.get_group('age')
df_age

,State,Category,Demo_Group,Demo_Specific,Estimate_type,April_2021,May_2021,June_2021,July_2021,August_2021,September_2021,October_2021
0,TX,Cases,age,0_9,rate_percent,2.042581,2.103747,2.087370,2.109844,2.385216,2.385216,2.385216
1,TX,Cases,age,10_19,rate_percent,4.621450,4.730021,4.795038,4.856197,5.372740,5.372740,5.372740
2,TX,Cases,age,20_29,rate_percent,19.924370,19.850523,19.864617,19.841767,20.400404,20.400404,20.400404
3,TX,Cases,age,30_39,rate_percent,21.965320,21.831431,21.782128,21.770627,21.499965,21.499965,21.499965
4,TX,Cases,age,40_49,rate_percent,19.247464,19.161918,19.126047,19.094784,18.604488,18.604488,18.604488
5,TX,Cases,age,50_59,rate_percent,16.166546,16.140648,16.132766,16.116276,15.430870,15.430870,15.430870
6,TX,Cases,age,60_69,rate_percent,9.738195,9.787161,9.787614,9.780470,9.445817,9.445817,9.445817
7,TX,Cases,age,70_79,rate_percent,3.881894,3.958278,3.972168,3.980704,4.093087,4.093087,4.093087
8,TX,Cases,age,80_older,rate_percent,2.412181,2.436272,2.452251,2.449331,2.767411,2.767411,2.767411

In [70]:
age_group = demodata_cases.loc

KeyError: 'rate_percent'