In [56]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy.stats as st

demodata_cases = "resources/texas_demographics_cases.csv"
demodata_deaths = "resources/texas_demographics_deaths.csv"
demodata_vaccines = "resources/texas_demographics_cases_vaccines.csv"

demodata_cases = pd.read_csv(demodata_cases)
demodata_cases.head()

,State,Category,Demo_Group,Demo_Specific,Estimate_type,April_2021,May_2021,June_2021,July_2021,August_2021,September_2021,October_2021
0,TX,Cases,age,0_9,rate_percent,2.042581,2.103747,2.087370,2.109844,2.385216,2.385216,2.385216
1,TX,Cases,age,0_9,total_cumulative,1578.000000,1660.000000,1659.000000,1690.500000,2384.000000,2384.000000,2384.000000
2,TX,Cases,age,10_19,rate_percent,4.621450,4.730021,4.795038,4.856197,5.372740,5.372740,5.372740
3,TX,Cases,age,10_19,total_cumulative,3570.500000,3732.500000,3811.000000,3891.000000,5370.000000,5370.000000,5370.000000
4,TX,Cases,age,20_29,rate_percent,19.924370,19.850523,19.864617,19.841767,20.400404,20.400404,20.400404

In [69]:
#demodata_cases_categories = demodata_cases.groupby("Category")
#type(demodata_cases_categories)
demodata_cases_cats = demodata_cases.groupby('Demo_Group')
type(demodata_cases_cats)

pandas.core.groupby.generic.DataFrameGroupBy

In [70]:
#demodata_cases_categories.ngroups
demodata_cases_cats.ngroups

3

In [71]:
demodata_cases_cats.size()

Demo_Group
age               18
gender             6
race_ethnicity    12
dtype: int64

In [72]:
demodata_cases_cats.groups

{'age': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], 'gender': [18, 19, 20, 21, 22, 23], 'race_ethnicity': [24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]}

In [73]:
demodata_cases_cats.first()

,State,Category,Demo_Specific,Estimate_type,April_2021,May_2021,June_2021,July_2021,August_2021,September_2021,October_2021
Demo_Group,,,,,,,,,,,
age,TX,Cases,0_9,rate_percent,2.042581,2.103747,2.08737,2.109844,2.385216,2.385216,2.385216
gender,TX,Cases,female,rate_percent,33.600000,33.950000,34.10000,34.200000,37.500000,37.500000,37.500000
race_ethnicity,TX,Cases,all_races-hispanic_latino,rate_percent,36.200000,35.850000,35.89000,35.800000,37.000000,37.000000,37.000000

In [55]:
#subset_cases = demodata.loc[:, ['Demo_Group']]
#subset_cases.groupby(['Demo_Group'])
#subset_cases.head